<%= render 'home/header' %>

<!-- HOMEPAGE TITLE -->

<div id="homepage_title">
	<h1>You don't need to go far to find calmness.</h1>
</div>

<!-- BOATS LIST -->

<div class="card_container">

	<% @boats.each do |boat| %>
		<div class="cards">
			<div class="cards_image"><%= image_tag(boat.image) if boat.image.attached? %></div>
			<div class="cards_new"></div>
			<div class="cards_description">
				<div class="cards_title"><%= boat.name %> (<%= boat.location %>)</div>
				<div class="cards_text"><%= boat.description %> (<%= boat.price %>$/day)</div>
			</div>
		</div>
	<% end %>
</div>

<!-- ONLINE EXPERIENCES -->

<div id="online_experiences">
	<div id="online_exp_top">
		<h1>Online Experiences</h1>
		<p>Meet people all over the world while trying something new. Join live, interactive video sessions led by 
		one-of-a-kind hosts - all without leaving home.</p>
	</div>

	<div class="card_cont_exp card_container">

		<div class="cards_exp cards">
			<div class="cards_img_exp cards_image"><%= image_tag "boat.jpg" %></div>
			<div class="cards_new"></div>
			<div class="cards_description">
				<div class="cards_title_exp cards_text">Unplug during a weekend on the sea.</div>
			</div>
		</div>

		<div class="cards_exp cards">
			<div class="cards_img_exp cards_image"><%= image_tag "boat2.jpg" %></div>
			<div class="cards_new"></div>
			<div class="cards_description">
				<div class="cards_title_exp cards_text">Enjoy a nice parasailing experience.</div>
			</div>
		</div>

		<div class="cards_exp cards">
			<div class="cards_img_exp cards_image"><%= image_tag "boat2.jpg" %></div>
			<div class="cards_new"></div>
			<div class="cards_description">
				<div class="cards_title_exp cards_text">Enjoy a nice parasailing experience.</div>
			</div>
		</div>

	</div>
</div>

<%= render 'home/footer' %>



















